@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    transition: all 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(232, 232, 232, 0.25);
    z-index: 9999;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
footer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.all-sections{
    width: 1100px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0px 200px;
}

.menu ul li {
    padding: 0px 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #0F6735;
}

.menu ul li a.active {
    color: #0F6735;
}
.btn2{
    display: none;
}

.log {
    background-color: #FF9933;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
}
.sign{
    background-color: #fff;
    color: #0F6735;
    padding: 12px 28px;
    border: 1px solid #0F6735;
    border-radius: 4px;
}

.log:hover {
    background-color: #fff;
    border: 1px solid #FF9933;
    color: #FF9933;
    cursor: pointer;
}
.sign:hover {
    background-color: #0F6735;
    border: none;
    color: #fff;
    cursor: pointer;
}
.nav-links {
    transition: 0.7s ease;
}

.hambuger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}


.first_sect{
    background-image: url(/img/Discount\ Bannar.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.flash_sales{
    margin-top: 150px;
}

.best{
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.month-percent{
    color: #fff;
    display: flex;
    align-items: center;
}
.month-percent > h3{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.percent{
    background-color: #FF9933;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    margin-left:30px;
}
.percent h3{
    font-size: 25px;
    margin: 0;
}
.percent p{
    font-size: 12px;
    margin: 0;
}

.count-down{
    display: flex;
    gap: 0.5rem;
}
.days{
    text-align: center;
}
.digit{
    font-size: 30px;
    color: #16a71f;
    margin: 0;
}
.digits{
    font-size: 30px;
    color: #a9a8a8;
    margin: 0;
}
.mins{
    font-size: 12px;
    color: #a9a8a8;
}
.btn3{
    margin-top: 20px;
}
.btn3 button{
    background-color: #0F6735;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.btn3 button:hover{
    background-color: #fff;
    color: #0F6735;
    border: 1px solid #0F6735;
    cursor: pointer;
}
.arrow{
    margin-left: 10px;
    font-weight: 600;
    font-size: 30px;
}
.arrow:hover{
    color: #0F6735;
}
.arrows{
    margin-left: 10px;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(63, 63, 63, 0.25);
    background-color: #fff;
    border-radius: 50%;
}
.arrows:hover{
    color: #fff;
    cursor: pointer;
    background-color: #0F6735;
}

/* Second Section About */

.second_sect{
    margin-top: 100px;
}
.about{
    text-align: center;
}
.about h3{
    font-size: 45px;
    margin: 0;
    color: #FF9933;
}
.about p{
    font-size: 15px;
    font-weight: 500;
}
.about_cards{
    margin-top: 100px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card_text{
    width: 500px;
}
.card_text h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.card_text p{
    font-size: 18px;
    line-height: 30px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}
.card_text2{
    width: 700px;
}
.card_text2 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}
.card_text2 > p{
    font-size: 16px;
    line-height: 20px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    text-align: right;
}

.card_text3{
    width: 500px;
}
.card_text3 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.card_text3 p{
    font-size: 16px;
    line-height: 30px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}
.card_image{
    width: 500px;
}
.card_image img{
    width: 100%;
}
.card_image2{
    width: 400px;
}
.card_image2 img{
    width: 100%;
}
.card_ico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 0px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.icons2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.icon_image{
    width: 70px;
}
.icon_image img{
    width: 100%;
}
.icon_text{
    margin-left: 10px;
}
.icon_text h4{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.icon_text p{
    margin: 0;
    font-size: 15px;
    color: #5f5e5e;
}
.delivery{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.delivery_text{
    margin: 0;
    margin-left: 10px;
}
.delivery_text p{
    margin: 0;
    font-size: 16px;
}
.team_heading h3{
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.team_heading p{
    text-align: center;
    font-size: 15px;
}
.scrollable_wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollable_wrapper {
    width: 100%;
    overflow-x: auto;
    white-space: wrap;
    scrollbar-width: none;
    padding: 10px 0;
}
.carousel_arrow{
    display: flex;
    justify-content: right;
}
.team_cards{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 30px;
}
.team{
    width: 260px;
    height: 370px;
    background-color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.469);
    border-radius: 10px;
    text-align: center;
}
.team_img{
    width: 260px;
    height: 300px;
    overflow: hidden;
    object-fit: contain;
}
.team_img img{
    width: 100%;
    border-radius: 10px
}
.team_name{
    margin-top: 20px;
}
.team_name h2{
    margin: 0;
    font-size: 18px;
}
.team_name p{
    margin: 0;
    font-size: 14px;
    color: #808080;
}
.team_social{
    background-color: #0000008d;
    position: relative;
    display: none;
    width: 100%;
    height: 300px;
    bottom: 358px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.team:hover .team_social{
    display: block;
    cursor: pointer;
}
.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}
.social_icons svg{
    color: #fff;
    font-size: 20px;
}
.social_icons svg:hover{
    padding: 5px;
    background-color: #0F6735;
    border-radius: 50%;
}
.test{
    background-color: #F2F2F2;
    height: 500px;
    margin-top: 100px;
}

.testimonial_heading{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.testimonial_heading h3{
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.testimonial_card{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.carl{
    display: flex;
    position: relative;
    left: 350px;
}
.test_card{
    background-color: #fff;
    width: 350px;
    height: 210px;
    border-radius: 8px;
}
.test_card > p{
    text-align: center;
    font-size: 15px;
    margin: 0px 20px;
    margin-top: 10px;
    color: #808080;
    white-space: wrap;
}
.quote_svg{
    font-size: 30px;
    color: #0f673579;
    margin-left: 30px;
    margin-top: 20px;
}
.customer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 350px;
}
.customer_name h3{
    margin: 0;
    font-size: 16px;
}
.customer_name p{
    margin: 0;
    font-size: 12px;
}
.star_svg svg{
    color: #FF9933;
    align-items: center;
}
.all_partners{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner_logo{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    margin: 0 auto;
}
footer{
    background-color: #0F6735;
    height: 450px;
}
.foot{
    width: 100%;
}
.feet{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.top_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.straight_line{
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.down_footer{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.footer_link{
    color: #fff;
}
.footer_link ul{
    padding: 0;
}
.footer_link ul li{
    list-style-type: none;
    padding: 10px 0;
}
.footer_link ul li a{
   text-decoration: none;
   color: #fff;
   font-size: 18px;
   display: flex;
   align-items: center;
   gap: 20px;
}
.footer_link ul li a:hover{
    text-decoration: underline;
}
.footer_link ul li a svg{
    font-size: 20px;
}
.newsletter{
    background-color: #ff9933b7;
    width: 320px;
    border-radius: 8px;
    padding-bottom: 10px;
}
.newsletter h3{
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 280px;
}
.input_field form{
   display: flex;
   justify-content: center;
   margin: 30px auto;
   align-items: center;
   background-color: #0f6735b1;
   width: 280px;
   height: 40px;
   border-radius: 4px;
}
.input_field input{
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 10px;
}
.input_field button{
    height: 100%;
    background-color: #0F6735;
    border: none;
    color: #fff;
    padding: 0px 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.input_field button:hover{
    background-color: #16a71f;
}
.newsletter p{
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 280px;
    font-weight: 400;
}
