@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    transition: all 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(232, 232, 232, 0.25);
    z-index: 9999;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.all-sections{
    width: 1100px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0px 200px;
}

.menu ul li {
    padding: 0px 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #0F6735;
}

.menu ul li a:active {
    color: #0F6735;
}
.btn2{
    display: none;
}

.log {
    background-color: #FF9933;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
}
.sign{
    background-color: #fff;
    color: #0F6735;
    padding: 12px 28px;
    border: 1px solid #0F6735;
    border-radius: 4px;
}

.log:hover {
    background-color: #fff;
    border: 1px solid #FF9933;
    color: #FF9933;
    cursor: pointer;
}
.sign:hover {
    background-color: #0F6735;
    border: none;
    color: #fff;
    cursor: pointer;
}
.nav-links {
    transition: 0.7s ease;
}

.hambuger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}


.first_sect{
    background-image: url(/img/Discount\ Bannar.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.flash_sales{
    margin-top: 150px;
}

.best{
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.month-percent{
    color: #fff;
    display: flex;
    align-items: center;
}
.month-percent > h3{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.percent{
    background-color: #FF9933;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    margin-left:30px;
}
.percent h3{
    font-size: 25px;
    margin: 0;
}
.percent p{
    font-size: 12px;
    margin: 0;
}

.count-down{
    display: flex;
    gap: 0.5rem;
}
.days{
    text-align: center;
}
.digit{
    font-size: 30px;
    color: #16a71f;
    margin: 0;
}
.digits{
    font-size: 30px;
    color: #a9a8a8;
    margin: 0;
}
.mins{
    font-size: 12px;
    color: #a9a8a8;
}
.btn3{
    margin-top: 20px;
}
.btn3 button{
    background-color: #0F6735;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.btn3 button:hover{
    background-color: #fff;
    color: #0F6735;
    border: 1px solid #0F6735;
}
.arrow{
    margin-left: 10px;
    font-weight: 300;
}
.arrow:hover{
    color: #0F6735;
}

/* Second Section About */

.second_sect{
    margin-top: 100px;
}
.about{
    text-align: center;
}
.about h3{
    font-size: 45px;
    margin: 0;
    color: #FF9933;
}
.about p{
    font-size: 15px;
    font-weight: 500;
}
.about_cards{
    margin-top: 100px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card_text{
    width: 500px;
}
.card_text h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.card_text p{
    font-size: 18px;
    line-height: 30px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}
.card_text2{
    width: 700px;
}
.card_text2 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}
.card_text2 > p{
    font-size: 16px;
    line-height: 20px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    text-align: right;
}

.card_text3{
    width: 500px;
}
.card_text3 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.card_text3 p{
    font-size: 16px;
    line-height: 30px;
    color: #5f5e5e;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}
.card_image{
    width: 500px;
}
.card_image img{
    width: 100%;
}
.card_image2{
    width: 400px;
}
.card_image2 img{
    width: 100%;
}
.card_ico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 0px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.icons2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.icon_image{
    width: 70px;
}
.icon_image img{
    width: 100%;
}
.icon_text{
    margin-left: 10px;
}
.icon_text h4{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.icon_text p{
    margin: 0;
    font-size: 15px;
    color: #5f5e5e;
}
.delivery{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.delivery_text{
    margin: 0;
    margin-left: 10px;
}
.delivery_text p{
    margin: 0;
    font-size: 16px;
}
.team_heading h3{
    font-size: 45px;
    text-align: center;
    margin: 0;
}
.team_heading p{
    text-align: center;
    font-size: 18px;
}
.team_cards{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 30px;
}
.team{
    width: 260px;
    height: 370px;
    background-color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.469);
    border-radius: 10px;
    text-align: center;
}
.team_img{
    width: 260px;
    height: 300px;
    overflow: hidden;
    object-fit: contain;
}
.team_img img{
    width: 100%;
    border-radius: 10px
}
.team_name{
    margin-top: 20px;
}
.team_name h2{
    margin: 0;
    font-size: 18px;
}
.team_name p{
    margin: 0;
    font-size: 14px;
    color: #808080;
}
.team_social{
    background-color: #0000008d;
    position: relative;
    display: none;
    width: 100%;
    height: 300px;
    bottom: 358px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.team:hover .team_social{
    display: block;
    cursor: pointer;
}
.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}
