@media screen and (max-width: 1200px) and (min-width: 1101px) {
    nav{
        max-width: 1200px;
    }
    .menu ul{
        margin: 0px 160px;
    }
    footer{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center; 
    }
    section {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .all-sections{
        width: 1000px;
    }
    .card_image{
        width: 400px;
    }
    .icons{
        margin-left: 70px;
    }
    .team{
        width: 230px;
    }
    .team_img{
        width: 230px;
    }
    .carl{
        left: 300px;
    }
    .test_card{
        width: 300px;
    }
    .down_footer{
        gap: 50px;
    }
    .footer_link ul li a{
        font-size: 15px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 950px) {
    nav{
        max-width: 1100px;
    }
    .menu ul{
        margin: 0px 120px;
    }
    footer{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .all-sections{
        width: 900px;
    }
    .card_image{
        width: 300px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
    }
    .icon_image{
        width: 50px;
    }
    .team{
        width: 200px;
        height: 270px;
    }
    .team_img{
        width: 200px;
        height: 200px;
    }
    .carl{
        left: 200px;
    }
    .customer{
        width: 280px;
    }
    .test_card{
        width: 280px;
        padding-bottom: 30px;
    }
    .quote_text{
        width: 200px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .down_footer{
        gap: 30px;
    }
    .footer_link ul li a{
        font-size: 15px;
    }
    .newsletter{
        width: 280px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    .input_field{
        width: 250px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 250px;
     }
    .input_field button {
        padding: 0px 10px;
    }
}
@media screen and (max-width: 949px) and (min-width: 801px) {
    nav{
        max-width: 949px;
    }
    .menu ul li {
        padding: 0px 10px;
    }
    .menu ul{
        margin: 0px 80px;
    }
    footer {
        max-width: 949px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 949px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .all-sections{
        width: 700px;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .card_image{
        width: 300px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .card_text2{
        width: 500px;
    }
    .card_text2 > p br{
        display: none;
    }
    .icon_text h4{
        font-size: 15px;
    }
    .icon_text p{
        font-size: 12px;
    }
    .icon_image{
        width: 50px;
    }
    .team{
        width: 180px;
        height: 270px;
    }
    .team_img{
        width: 180px;
        height: 200px;
    }
    .carl{
        left: 150px;
    }
    .testimonial_card{
        gap: 10px;
    }
    .customer{
        width: 250px;
    }
    .quote_text{
        width: 160px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .customer_img{
        width: 40px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 250px;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 15px;
    }
    .footer_link h3{
        font-size: 12px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 250px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 800px) and (min-width: 769px) {
    nav{
        max-width: 800px;
    }
    .menu ul li {
        padding: 0px 10px;
    }
    .menu ul{
        margin: 0px 20px;
    }
    footer {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .all-sections{
        width: 650px;
    }
    .logo{
        width: 100px;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .card{
        gap: 20px;
    }
    .card_image{
        width: 300px;
    }
    .icon_image{
        width: 40px;
    }
    .card_text2 > p br{
        display: none;
    }
    .icons{
        margin-left: 0px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icon_text h4{
        font-size: 15px;
    }
    .icon_text p{
        font-size: 12px;
    }
    .team_heading p{
        font-size: 16px;
    }
    .team_cards{
        gap: 5px;
    }
    .team{
        width: 150px;
        height: 220px;
    }
    .team_img{
        width: 150px;
        height: 150px;
    }
    .carl{
        left: 100px;
    }
    .testimonial_card{
        gap: 20px;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 200px;
    }
    .customer_img{
        width: 40px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 200px;
        height: auto;
        padding-bottom: 30px;
    }
    .quote_text{
        width: 130px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .down_footer{
        gap: 20px;
    }
    .footer_link ul li a{
        font-size: 10px;
    }
    .footer_link ul li a svg{
        font-size: 15px;
    }
    .footer_link h3{
        font-size: 12px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 250px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    * {
        transition: all 0.5s;
    }
    nav{
        max-width: 768px;
    }
   .navbar{
    gap: 200px;
   }
    .menu ul li {
        padding: 10px 10px;
    }
    .menu ul{
        margin: 0px 0px;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu ul li a:hover{
        color: #FF9933;
        cursor: pointer;
    }
    footer {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .all-sections{
        width: 520px !important;
    }
    .hambuger {
        display: block;
    }
    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
        flex-direction: column;
    }
    .index{
        margin-top: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }
    .nav-menu.active {
        left: 0;
    }
    .logo{
        width: 100px;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .percent{
        background-color: #FF9933;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        margin-left:30px;
    }
    .percent h3{
        font-size: 15px;
        margin: 0;
    }
    .percent p{
        font-size: 10px;
        margin: 0;
    }
    .card{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card2{
        gap: 20px;
        flex-direction: column;
    }
    .card3{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card_image{
        width: 300px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
    }
    .icon_text p{
        text-align: left !important;
    }
    .icon_text2 p{
        text-align: left !important;
    }
    .icon_image{
        width: 40px;
    }
    .card_text h2{
        text-align: center;
    }
    .card_text p{
        text-align: center;
    }
    .card_text2{
        width: 100%;
    }
    .card_text2 > p br{
        display: block;
    }
    .card_text2 h2{
        text-align: center;
    }
    .card_text2 p{
        text-align: center;
    }
    .card_text3 h2{
        text-align: center;
    }
    .card_text3 p{
        text-align: center;
    }
    .card_ico{
        justify-content: center;
        gap: 30px;
    }
    .icons{
        margin-left: 0px;
    }
    .icon_text h4{
        font-size: 15px;
    }
    .icon_text p{
        font-size: 12px;
    }
    .btn3{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team_heading p{
        font-size: 16px;
    }
    .team_cards{
        gap: 25px;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .team{
        width: 320px;
        height: 380px;
    }
    .team_img{
        width: 320px;
        height: 300px;
    }

    .carl{
        left: 100px;
        display: none;
    }
    .test{
        height: auto;
        padding-bottom: 30px;
    }
    .testimonial_card{
        gap: 20px;
        /* flex-direction: column; */
        align-items: center;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        width: 200px;
    }
    .quote_text{
        width: 130px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .customer_img{
        width: 50px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 200px;
        height: auto;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 20px;
    }
    .footer_link ul li a svg{
        font-size: 25px;
    }
    .footer_link h3{
        font-size: 25px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) and (min-width: 426px) {
    * {
        transition: all 0.5s;
    }
    nav{
        max-width: 600px;
    }
   .navbar{
    gap: 135px;
   }
    .menu ul li {
        padding: 10px 10px;
    }
    .menu ul{
        margin: 0px 0px;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu ul li a:hover{
        color: #FF9933;
        cursor: pointer;
    }
    footer {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .all-sections{
        width: 400px;
    }
    .hambuger {
        display: block;
    }
    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
        flex-direction: column;
    }
    .index{
        margin-top: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }
    .nav-menu.active {
        left: 0;
    }
    .logo{
        width: 100px;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .month-percent > h3{
        font-size: 30px;
    }
    .sale{
        text-align: center;
    }
    .digit{
        font-size: 20px;
    }
    .digits{
        font-size: 20px;
    }
    .percent{
        background-color: #FF9933;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        margin-left:70px;
    }
    .percent h3{
        font-size: 15px;
        margin: 0;
    }
    .percent p{
        font-size: 10px;
        margin: 0;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
    }
    .icon_text p{
        text-align: left !important;
    }
    .icon_text2 p{
        text-align: left !important;
    }
    .card{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card2{
        gap: 20px;
        flex-direction: column;
    }
    .card3{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card_image{
        width: 300px;
    }
    .icon_image{
        width: 40px;
    }
    .card_text{
        width: 100%;
    }
    .card_text3{
        width: 100%;
    }
    .card_text h2{
        text-align: center;
    }
    .card_text p{
        text-align: center;
    }
    .card_text2{
        width: 100%;
    }
    .card_text2 > p br{
        display: block;
    }
    .card_text2 h2{
        text-align: center;
    }
    .card_text2 p{
        text-align: center;
    }
    .card_text3 h2{
        text-align: center;
    }
    .card_text3 > p{
        text-align: center;
    }
    .card_ico{
        justify-content: center;
        gap: 20px;
    }
    .icons{
        margin-left: 0px;
    }
    .icon_text h4{
        font-size: 15px;
    }
    .icon_text p{
        font-size: 12px;
    }
    .btn3{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team_heading p{
        font-size: 16px;
    }
    .team_cards{
        gap: 25px;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .team{
        width: 320px;
        height: 380px;
    }
    .team_img{
        width: 320px;
        height: 300px;
    }
    .carl{
        left: 100px;
        display: none;
    }
    .test{
        height: auto;
        padding-bottom: 30px;
    }
    .testimonial_card{
        gap: 20px;
        /* flex-direction: column; */
        align-items: center;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        width: 200px;
    }
    .quote_text{
        width: 130px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .customer_img{
        width: 50px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 200px;
        height: 300px;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 18px;
    }
    .footer_link ul li a svg{
        font-size: 25px;
    }
    .footer_link h3{
        font-size: 20px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 425px) and (min-width: 321px) {
    * {
        transition: all 0.5s;
    }
    nav{
        max-width: 425px;
    }
   .navbar{
    gap: 70px;
   }
    .menu ul li {
        padding: 10px 10px;
    }
    .menu ul{
        margin: 0px 0px;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu ul li a:hover{
        color: #FF9933;
        cursor: pointer;
    }
    footer {
        max-width: 425px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 425px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .all-sections{
        width: 300px;
    }
    .hambuger {
        display: block;
    }
    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
        flex-direction: column;
    }
    .index{
        margin-top: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }
    .nav-menu.active {
        left: 0;
    }
    .logo{
        width: 100px;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .month-percent{
        flex-direction: column;
    }
    .countdown{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .month-percent > h3{
        font-size: 30px;
    }
    .sale{
        text-align: center;
    }
    .digit{
        font-size: 20px;
    }
    .digits{
        font-size: 20px;
    }
    .percent{
        background-color: #FF9933;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        margin-left:0px;
    }
    .percent h3{
        font-size: 15px;
        margin: 0;
    }
    .percent p{
        font-size: 10px;
        margin: 0;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icon_text{
        width: 150px;
    }
    .icon_text2{
        width: 150px;
    }
    .icon_text p{
        text-align: left !important;
    }
    .icon_text2 p{
        text-align: left !important;
    }
    .card{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card2{
        gap: 20px;
        flex-direction: column;
    }
    .card3{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card_image{
        width: 300px;
    }
    .card_image2{
        width: 300px;
    }
    .icon_image{
        width: 40px;
    }
    .card_text{
        width: 100%;
    }
    .card_text3{
        width: 100%;
    }
    .card_text h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text p{
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .card_text2{
        width: 100%;
    }
    .card_text2 > p br{
        display: none;
    }
    .card_text2 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text2 p{
        text-align: center;
        font-size: 12px;
    }
    .card_text3 > p br{
        display: none;
    }
    .card_text3 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text3 > p{
        text-align: center;
        font-size: 12px;
    }
    .card_ico{
        justify-content: center;
        gap: 15px;
        text-align: left;
        flex-direction: column;
    }
    .icons{
        margin-left: 0px;
    }
    .icon_text h4{
        font-size: 12px;
    }
    .icon_text p{
        font-size: 10px;
        text-align: left;
    }
    .btn3{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team_heading h3{
        font-size: 20px;
    }
    .team_heading p{
        font-size: 12px;
    }
    .team_cards{
        gap: 25px;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .team{
        width: 280px;
        height: 380px;
    }
    .team_img{
        width: 280px;
        height: 300px;
    }
    .carl{
        left: 100px;
        display: none;
    }
    .test{
        height: auto;
        padding-bottom: 30px;
    }
    .testimonial_heading h3{
        font-size: 20px;
    }
    .testimonial_card{
        gap: 20px;
        /* flex-direction: column; */
        align-items: center;
    }
    .quote_text{
        width: 130px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        width: 200px;
    }
    .customer_img{
        width: 50px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 200px;
        height: auto;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 320px) and (min-width: 281px) {
    * {
        transition: all 0.5s;
    }
    .first_sect{
        height: 100vh;
    }
    nav{
        max-width: 320px;
    }
   .navbar{
    gap: 70px;
   }
    .menu ul li {
        padding: 10px 10px;
    }
    .menu ul{
        margin: 0px 0px;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu ul li a:hover{
        color: #FF9933;
        cursor: pointer;
    }
    footer {
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .all-sections{
        width: 250px;
    }
    .hambuger {
        display: block;
    }
    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
        flex-direction: column;
    }
    .index{
        margin-top: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }
    .nav-menu.active {
        left: 0;
    }
    .logo{
        width: 80px;
    }
    .logo img{
        width: 100%;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .month-percent{
        flex-direction: column;
    }
    .countdown{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .month-percent > h3{
        font-size: 30px;
    }
    .sale{
        text-align: center;
    }
    .digit{
        font-size: 20px;
    }
    .digits{
        font-size: 20px;
    }
    .percent{
        background-color: #FF9933;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        margin-left:0px;
    }
    .percent h3{
        font-size: 15px;
        margin: 0;
    }
    .percent p{
        font-size: 10px;
        margin: 0;
    }
    
    .card{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card2{
        gap: 20px;
        flex-direction: column;
    }
    .card3{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card_image{
        width: 250px;
    }
    .card_image2{
        width: 250px;
    }
    .icon_image{
        width: 40px;
    }
    .card_text{
        width: 100%;
    }
    .card_text3{
        width: 100%;
    }
    .card_text h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text p{
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .card_text2{
        width: 100%;
    }
    .card_text2 > p br{
        display: none;
    }
    .card_text2 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text2 p{
        text-align: center;
        font-size: 12px;
    }
    .card_text3 > p br{
        display: none;
    }
    .card_text3 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text3 > p{
        text-align: center;
        font-size: 12px;
    }
    .card_ico{
        justify-content: center;
        gap: 15px;
        text-align: left;
        flex-direction: column;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icon_text{
        width: 150px;
    }
    .icon_text2{
        width: 150px;
    }
    .icons{
        margin-left: 0px;
    }
    .icon_text h4{
        font-size: 12px;
    }
    .icon_text p{
        font-size: 10px;
        text-align: left;
    }
    .btn3{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team_heading h3{
        font-size: 20px;
    }
    .team_heading p{
        font-size: 12px;
    }
    .team_cards{
        gap: 25px;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .team{
        width: 200px;
        height: 300px;
    }
    .team_img{
        width: 200px;
        height: 210px;
    }
    .carl{
        left: 100px;
        display: none;
    }
    .test{
        height: auto;
        padding-bottom: 30px;
    }
    .testimonial_card{
        gap: 20px;
        /* flex-direction: column; */
        align-items: center;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .customer_img{
        width: 50px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .quote_text{
        width: 170px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .testimonial_heading h3{
        font-size: 20px;
    }
    .test_card{
        width: 200px;
        height: auto;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    .feet{
        margin-top: 50px;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 280px) {
    * {
        transition: all 0.5s;
    }
    .first_sect{
        height: 100vh;
    }
    nav{
        max-width: 280px;
    }
   .navbar{
    gap: 70px;
   }
    .menu ul li {
        padding: 10px 10px;
    }
    .menu ul{
        margin: 0px 0px;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu ul li a:hover{
        color: #FF9933;
        cursor: pointer;
    }
    footer {
        max-width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section {
        max-width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .all-sections{
        width: 190px;
    }
    .hambuger {
        display: block;
    }
    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .btn2{
        display: block;
        flex-direction: column;
    }
    .index{
        margin-top: 50px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }
    .nav-menu.active {
        left: 0;
    }
    .logo{
        width: 80px;
    }
    .logo img{
        width: 100%;
    }
    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .sign{
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .btn3 button {
        background-color: #0F6735;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .month-percent{
        flex-direction: column;
    }
    .countdown{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .month-percent > h3{
        font-size: 30px;
    }
    .sale{
        text-align: center;
    }
    .digit{
        font-size: 20px;
    }
    .digits{
        font-size: 20px;
    }
    .percent{
        background-color: #FF9933;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 20px;
        margin-left:0px;
    }
    .percent h3{
        font-size: 15px;
        margin: 0;
    }
    .percent p{
        font-size: 10px;
        margin: 0;
    }
    .card{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card2{
        gap: 20px;
        flex-direction: column;
    }
    .card3{
        gap: 20px;
        flex-direction: column-reverse;
    }
    .card_image{
        width: 250px;
    }
    .card_image2{
        width: 250px;
    }
    .icon_image{
        width: 40px;
    }
    .card_text{
        width: 100%;
    }
    .card_text3{
        width: 100%;
    }
    .card_text h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text p{
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .card_text2{
        width: 100%;
    }
    .card_text2 > p br{
        display: none;
    }
    .card_text2 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text2 p{
        text-align: center;
        font-size: 12px;
    }
    .card_text3 > p br{
        display: none;
    }
    .card_text3 h2{
        text-align: center;
        font-size: 20px;
    }
    .card_text3 > p{
        text-align: center;
        font-size: 12px;
    }
    .card_ico{
        justify-content: center;
        gap: 15px;
        text-align: left;
        flex-direction: column;
    }
    .icons{
        margin-left: 0px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icons2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    .icon_text{
        width: 150px;
    }
    .icon_text2{
        width: 150px;
    }
    .icon_text h4{
        font-size: 12px;
    }
    .icon_text p{
        font-size: 10px;
        text-align: left;
    }
    .btn3{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team_heading h3{
        font-size: 20px;
    }
    .team_heading p{
        font-size: 12px;
    }
    .team_cards{
        gap: 25px;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .team{
        width: 200px;
        height: 300px;
    }
    .team_img{
        width: 200px;
        height: 210px;
    }
    .carl{
        left: 100px;
        display: none;
    }
    .test{
        height: auto;
        padding-bottom: 30px;
    }
    .testimonial_card{
        gap: 20px;
        /* flex-direction: column; */
        align-items: center;
    }
    .quote_text{
        width: 170px;
        margin: 0 auto !important;
        margin-top: 10px;
    }
    .testimonial_heading h3{
        font-size: 20px;
    }
    .customer{
        flex-direction: column;
        text-align: center;
        width: 180px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .customer_img{
        width: 50px;
    }
    .customer_img img{
        width: 100%;
    }
    .star_svg svg{
        font-size: 10px;
    }
    .test_card{
        width: 180px;
        height: auto;
        padding-bottom: 30px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    .feet{
        margin-top: 50px;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 170px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 170px;
    }
    .input_field{
        width: 170px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
        width: 120px;
    }
    .input_field form{
        width: 170px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 8px;
    }
}