@media screen and (max-width: 1200px) {
    nav {
        max-width: 1200px;
    }
    footer{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center; 
    }
    section {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .all-sections {
        width: 1000px;
    }
    .menu ul {
        display: flex;
        padding: 0;
        margin: 0px 200px;
    }
    .signup_img {
        width: 391px;
        height: 547px;
    }
    .btn5{
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }
    .down_footer{
        gap: 50px;
    }
    .footer_link ul li a{
        font-size: 15px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 950px) {
    nav {
        max-width: 1100px;
    }

    .menu ul {
        margin: 0px 150px;
    }

    footer {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .all-sections {
        width: 900px;
    }
    .btn5{
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }
    .signup_img {
        width: 391px;
        height: 547px;
    }
    .input_field{
        width: 200px;
    }
    .input_field input {
        width: 100%;
    }
    .gender input{
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
    }
    .down_footer{
        gap: 30px;
    }
    .footer_link ul li a{
        font-size: 15px;
    }
    .newsletter{
        width: 280px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    .input_fields{
        width: 250px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
    }
    .input_fields form{
        width: 250px;
     }
    .input_fields button {
        padding: 0px 10px;
    }
}
@media screen and (max-width: 949px) and (min-width: 801px) {
    nav {
        max-width: 949px;
    }

    .menu ul li {
        padding: 0px 10px;
    }

    .menu ul {
        margin: 0px 80px;
    }

    footer {
        max-width: 949px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 949px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .all-sections {
        width: 700px;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup_img {
        width: 291px;
        height: 547px;
    }
    .input_field{
        width: 180px;
    }
    .btn5{
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }
    .input_field input {
        width: 100%;
    }
    .gender input{
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
    }
    .down_footer{
        gap: 10px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 15px;
    }
    .footer_link h3{
        font-size: 12px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 250px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_fields{
        width: 230px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
    }
    .input_fields form{
        width: 230px;
        height: 30px;
     }
    .input_fields button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 800px) and (min-width: 769px) {
    nav {
        max-width: 800px;
    }

    .menu ul li {
        padding: 0px 10px;
    }

    .menu ul {
        margin: 0px 20px;
    }

    footer {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .all-sections {
        width: 650px;
    }

    .logo {
        width: 100px;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup_img {
        width: 291px;
        height: 547px;
    }
    .input_field{
        width: 150px;
    }
    .btn5{
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }
    .btn5 button{
        padding: 8px 20px;
    }
    .input_field input {
        width: 100%;
    }
    .gender input{
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
    }
    .down_footer{
        gap: 20px;
    }
    .footer_link ul li a{
        font-size: 10px;
    }
    .footer_link ul li a svg{
        font-size: 15px;
    }
    .footer_link h3{
        font-size: 12px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 250px;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
        font-size: 12px;
    }
    .input_fields{
        width: 230px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
    }
    .input_fields form{
        width: 230px;
        height: 30px;
     }
    .input_fields button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width:768px) and (min-width: 601px) {
    nav {
        max-width: 768px;
    }

    .navbar {
        gap: 200px;
    }

    .menu ul li {
        padding: 10px 10px;
    }

    .menu ul {
        margin: 0px 0px;
    }
    footer {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .menu ul li a {
        color: #fff;
    }

    .menu ul li a:hover {
        color: #FF9933;
        cursor: pointer;
    }

    .all-sections {
        width: 520px !important;
    }

    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: block;
        flex-direction: column;
    }

    .index {
        margin-top: 50px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        width: 100px;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .signup_img {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        background-image: url(/img/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: 30px;
    }
    .signup_form{
        margin-top: 50px;
    }
    .input_field{
        width: 220px;
    }
    .input_flex{
        gap: 20px;
    }
    .input_field input{
        width: 100%;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 20px;
    }
    .footer_link ul li a svg{
        font-size: 25px;
    }
    .footer_link h3{
        font-size: 25px;
        margin: 0;
        margin-top: 20px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_fields{
        width: 230px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
    }
    .input_fields form{
        width: 230px;
        height: 30px;
     }
    .input_fields button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) and (min-width: 426px) {
    * {
        transition: all 0.5s;
    }

    nav {
        max-width: 600px;
    }

    .navbar {
        gap: 135px;
    }

    .menu ul li {
        padding: 10px 10px;
    }

    .menu ul {
        margin: 0px 0px;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu ul li a:hover {
        color: #FF9933;
        cursor: pointer;
    }

    footer {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .first_sect {
        height: 100vh;
    }
    .all-sections {
        width: 400px;
    }

    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: block;
        flex-direction: column;
    }

    .index {
        margin-top: 50px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        width: 100px;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .signup_img {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        background-image: url(/img/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: 10px;
    }
    .signup_form{
        margin-top: 50px;
    }
    .input_field{
        width: 220px;
    }
    .input_flex{
        gap: 20px;
    }
    .input_field input{
        width: 100%;
    }
    .btn5 button{
        padding: 10px 50px !important;
        font-size: 12px !important;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 18px;
    }
    .footer_link ul li a svg{
        font-size: 25px;
    }
    .footer_link h3{
        font-size: 20px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 170px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 425px) and (min-width: 321px) {
    * {
        transition: all 0.5s;
    }

    nav {
        max-width: 425px;
    }

    .navbar {
        gap: 70px;
    }

    .menu ul li {
        padding: 10px 10px;
    }

    .menu ul {
        margin: 0px 0px;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu ul li a:hover {
        color: #FF9933;
        cursor: pointer;
    }

    footer {
        max-width: 425px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 425px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .first_sect {
        height: 100vh;
    }
    .all-sections {
        width: 300px;
    }

    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: block;
        flex-direction: column;
    }

    .index {
        margin-top: 50px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        width: 100px;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .signup_img {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        background-image: url(/img/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: 5px;
    }
    .signup_form{
        margin-top: 50px;
    }
    .input_field{
        width: 200px;
    }
    .input_flex{
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .input_field input{
        width: 100%;
    }
    .btn5 button{
        padding: 8px 30px !important;
        font-size: 12px !important;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_field{
        width: 230px;
        margin: 0 auto;
    }
    .input_field input {
        margin-left: 0px;
    }
    .input_field form{
        width: 230px;
        height: 30px;
     }
    .input_field button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 320px) and (min-width: 281px) {
    * {
        transition: all 0.5s;
    }

    .first_sect {
        height: 100vh;
    }

    nav {
        max-width: 320px;
    }

    .navbar {
        gap: 70px;
    }

    .menu ul li {
        padding: 10px 10px;
    }

    .menu ul {
        margin: 0px 0px;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu ul li a:hover {
        color: #FF9933;
        cursor: pointer;
    }

    footer {
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .first_sect {
        height: 100vh;
    }
    .all-sections {
        width: 250px;
    }

    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: block;
        flex-direction: column;
    }

    .index {
        margin-top: 50px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        width: 80px;
    }

    .logo img {
        width: 100%;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .signup_img {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        background-image: url(/img/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: 5px;
    }
    .signup_form{
        margin-top: 50px;
    }
    .input_field{
        width: 200px;
    }
    .input_flex{
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .input_field input{
        width: 100%;
    }
    .btn5 button{
        padding: 8px 30px !important;
        font-size: 12px !important;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    .feet{
        margin-top: 50px;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 230px;
    }
    .input_fields{
        width: 230px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
    }
    .input_fields form{
        width: 230px;
        height: 30px;
     }
    .input_fields button {
        padding: 0px 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 280px) {
    * {
        transition: all 0.5s;
    }

    .first_sect {
        height: 100vh;
    }

    nav {
        max-width: 280px;
    }

    .navbar {
        gap: 70px;
    }

    .menu ul li {
        padding: 10px 10px;
    }

    .menu ul {
        margin: 0px 0px;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu ul li a:hover {
        color: #FF9933;
        cursor: pointer;
    }

    footer {
        max-width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .first_sect {
        height: 100vh;
    }
    .all-sections {
        width: 220px;
    }

    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: block;
        flex-direction: column;
    }

    .index {
        margin-top: 50px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: #0F6735;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        width: 80px;
    }

    .logo img {
        width: 100%;
    }

    .log {
        background-color: #FF9933;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .sign {
        background-color: #fff;
        color: #0F6735;
        padding: 10px 20px;
        border: 1px solid #0F6735;
        border-radius: 4px;
    }
    .signup {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .signup_img {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        background-image: url(/img/signup.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: 5px;
    }
    .signup_form{
        margin-top: 50px;
    }
    .input_field{
        width: 200px;
    }
    .input_flex{
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .input_field input{
        width: 100%;
    }
    .btn5 button{
        padding: 8px 30px !important;
        font-size: 12px !important;
    }
    .signup_img h2{
        font-size: 20px;
    }
    .signup_img p{
        font-size: 12px;
    }
    .down_footer{
        gap: 10px;
        flex-direction: column;
    }
    .feet{
        margin-top: 50px;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_link ul li a{
        font-size: 13px;
    }
    .footer_link ul li a svg{
        font-size: 20px;
    }
    .footer_link h3{
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
    }
    .newsletter{
        width: 100%;
    }
    .newsletter h3 {
        margin: 0 auto;
        margin-top: 20px;
        width: 170px;
    }
    .newsletter p {
        margin: 0 auto;
        margin-top: 20px;
        width: 170px;
    }
    .input_fields{
        width: 170px;
        margin: 0 auto;
    }
    .input_fields input {
        margin-left: 0px;
        width: 120px;
    }
    .input_fields form{
        width: 170px;
        height: 30px;
     }
    .input_fields button {
        padding: 0px 5px;
        font-size: 8px;
    }
}