@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: all 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    height: 100vh;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.all-sections {
    width: 1100px;
    margin: 0 auto;
}

.first_sect {
    background-image: url(/img/green-field-with-sun\ 1.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(232, 232, 232, 0.25);
    z-index: 9999;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0px 250px;
}

.menu ul li {
    padding: 0px 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    /* Body/Medium/Body 2 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.menu ul li a:hover {
    color: #0F6735;
}

.menu ul li a.active {
    color: #0F6735;
}

.btn2 {
    display: none;
}

.log {
    background-color: #FF9933;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
}
.log a {
    color: #fff;
    text-decoration: none;
}

.sign {
    background-color: #fff;
    color: #0F6735;
    padding: 12px 28px;
    border: 1px solid #0F6735;
    border-radius: 4px;
}
.sign a{
    color: #0F6735;
    text-decoration: none;
}

.log:hover {
    background-color: #fff;
    border: 1px solid #FF9933;
    color: #FF9933;
    cursor: pointer;
}

.log a:hover {
    color: #FF9933;
    cursor: pointer;
}

.sign:hover {
    background-color: #0F6735;
    border: none;
    color: #fff;
    cursor: pointer;
}
.sign a:hover {
    color: #fff;
    cursor: pointer;
}

.nav-links {
    transition: 0.7s ease;
}

.hambuger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.second_sect {
    margin-top: 100px;
}

.all-sections h2 {
    color: #F93;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.all-sections p {
    color: #717171;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 10px;
}

.third_sect {
    margin-top: 40px;
    padding-bottom: 30px;
}

.signup {
    display: flex;
    justify-content: space-between;
}

.signup_img {
    width: 491px;
    height: 647px;
    flex-shrink: 0;
    background-image: url(/img/signup.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup_img h2 {
    font-size: 30px;
}

.signup_img p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}


.input_field {
    display: flex;
    flex-direction: column;
}
.input_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}
.input_field label {
    color: #000;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    /* 142.857% */
}

.input_field input {
    width: 260px;
    fill: #8D8D8D;
    stroke-width: 1px;
    stroke: #8D8D8D;
    border: none;
    border-bottom: 1px solid #8D8D8D;
    outline: none;
}
.gender{
    display: flex;
    align-items: center;
    gap: 30px;
}
.gender > div{
    display: flex;
    align-items: center;
}
.gender > div > p{
    margin: 0;
    margin-right: 10px;
}
.gender input{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.btn5 button{
    padding: 12px 50px;
    border: none;
    background-color: #0F6735;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

footer{
    background-color: #0F6735;
    height: 450px;
}
.foot{
    width: 100%;
}
.feet{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}
.top_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.straight_line{
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.down_footer{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.footer_link{
    color: #fff;
}
.footer_link ul{
    padding: 0;
}
.footer_link ul li{
    list-style-type: none;
    padding: 10px 0;
}
.footer_link ul li a{
   text-decoration: none;
   color: #fff;
   font-size: 18px;
   display: flex;
   align-items: center;
   gap: 20px;
}
.footer_link ul li a:hover{
    text-decoration: underline;
}
.footer_link ul li a svg{
    font-size: 20px;
}
.newsletter{
    background-color: #ff9933b7;
    width: 320px;
    border-radius: 8px;
    padding-bottom: 10px;
}
.newsletter h3{
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 280px;
}
.input_fields form{
   display: flex;
   justify-content: center;
   margin: 30px auto;
   align-items: center;
   background-color: #0f6735b1;
   width: 280px;
   height: 40px;
   border-radius: 4px;
}
.input_fields input{
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 10px;
}
.input_fields button{
    height: 100%;
    background-color: #0F6735;
    border: none;
    color: #fff;
    padding: 0px 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.input_fields button:hover{
    background-color: #16a71f;
}
.newsletter p{
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 280px;
    font-weight: 400;
}
